<!doctype html>
<html lang="en" ng-app ="LunchCheck">
  <head>
    <title>Lunch Checker</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="assignment1-starter-code/styles/bootstrap.min.css">
    <!-- <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-sanitize.js"></script> -->
    <style>
      .message { font-size: 1.3em; font-weight: bold; }
    </style>
  </head>
<body>
   <div class="container" ng-controller="lunchCheckController">
     <h1>Lunch Checker</h1>

         <div class="form-group">
             <input ng-model="inpt" ng-blur="test();" id="lunch-menu" type="text"
             placeholder="list comma separated dishes you usually have for lunch"
             class="form-control">(we do NOT consider an empty item)
         </div>
         <div class="form-group">
             <button ng-click="check();" class="btn btn-default">Check If Too Much</button>
         </div>
<!--          <div ng-bind-html="message" class="form-group message"> -->
           <div id="output" ng-model="message" class="form-group message">
            {{message}}
           <!-- Your message can go here. -->
         </div>
   </div>
  <script src ="assignment1-starter-code/js/angular.min.js"></script>

  <script src ="assignment1-starter-code/js/app.js"></script>
</body>
</html>
